.mes-list {
    margin-top: var(--margin-top);
    display: flex;
    flex-direction: column;
}

.message {
    padding: 6px var(--side-space);
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 4px;
    cursor: default;

    .avatar {
        border-radius: 50%;
        width: 50px;
        object-fit: cover;
        margin-right: 8px;
    }

    &:hover {
        background-color: #333;
    }
    .text-box {
        margin-right: 8px;
        flex: 1;
        max-width: 180px;
        .name {
            color: var(--white);
            font-size: 1.4rem;
        }

        .content {
            color: var(--white);
            font-size: 1.2rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: #0aef0a;
        }
    }
}

.message.active {
    background-color: #333;
}

@media screen and (max-width: 480px) {
    .mes-list {
        padding: 0 12px;
    }
}
